# Ignorer les dossiers node_modules
**/node_modules/

# Fichiers de configuration sensibles
**/firebase-credentials.json
**/firebase-service-account.json
**/firebase-admin-key.json
**/.env
**/.env.local
**/.env.production

# Firebase
.firebase/
firebase-debug.log
firestore-debug.log
ui-debug.log

# Autres fichiers temporaires optionnels
*.log
dist/
build/
**/uploads/
*.mp4